openapi: 3.0.3

info:
  title: API - ISP Form
  version: 1.0.1
  description: Endpoints accesibles para el rol de usuario y administrador.

servers:
  - url: https://api.form.com

paths:
  /forms:
    post:
      summary: Envia un formulario completado como json
      tags:
        - Forms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormRequest'
      responses:
        '204':
          description: Formulario enviado correctamente
        '400':
          description: Formato incorrecto

  /forms/attachment:
    post:
      summary: Envio de adjuntos jpg/png hacia el almacenamiento de documentos.
      tags:
        - Forms
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
            encoding:
              image:
                contentType: image/jpeg, image/png
      responses:
        '200':
          description: Archivo subido correctamente
        '400':
          description: Tipo de imagen no soportado

  /forms/user/{userEmail}:
    get:
      summary: Consulta el estado del tramite de un usuario
      tags:
        - Forms
      parameters:
        - name: userEmail
          in: path
          required: true
          description: Email del usuario
          schema:
            type: string
      responses:
        '200':
          description: Tramite encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '404':
          description: Tramite no encontrado

  /admin/forms:
    get:
      summary: Obtener formularios, con filtro opcional por estado
      tags:
        - Admin
      parameters:
        - name: status
          in: query
          required: false
          description: Filtra los formularios por estado
          schema:
            type: string
            enum:
              - Pending
              - Accepted
              - Rejected
      responses:
        '200':
          description: Lista de formularios
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Form'
        '204':
          description: No hay formularios que coincidan
        '404':
          description: Lista no encontrada

  /admin/forms/{id}:
    get:
      summary: Obtener un formulario por Id
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          required: true
          description: ID del formulario
          schema:
            type: integer
      responses:
        '200':
          description: Formulario encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '404':
          description: Formulario no encontrado

  /admin/forms/{id}/approve:
    patch:
      summary: Aprueba un formulario
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          required: true
          description: id del formulario
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormApproval'
      responses:
        '200':
          description: Formulario aprobado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '400':
          description: No se pudo aprobar el formulario
        '404':
          description: Formulario no encontrado

components:
  schemas:

    Form:
      type: object
      properties:
        id:
          type: integer

        first_name:
          type: string

        last_name:
          type: string

        dni:
          type: string

        phone:
          type: string

        email:
          type: string

        dni_image:
          type: string
          format: uri

        tax_image:
          type: string
          format: uri

        type:
          type: string
          enum:
            - Register
            - Unregister

        status:
          type: string
          enum:
            - Pending
            - Accepted
            - Rejected

    FormApproval:
      type: object
      properties:
        status:
          type: string
          enum:
            - Accepted
            - Rejected

    FormRequest:
      type: object
      properties:

        first_name:
          type: string

        last_name:
          type: string

        dni:
          type: string

        phone:
          type: string

        email:
          type: string

        dni_image:
          type: string
          format: uri

        tax_image:
          type: string
          format: uri

        type:
          type: string
          enum:
            - Register
            - Unregister