@import "tailwindcss";   

*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url('./assets/prueba.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #111827;
}